-e .[dev,all]
spacy
textblob
transformers
gensim
nltk
shapely
click
pytest
pytest-cov
black
flake8
isort
mypy
pandas
streamlit
click
pymongo
pre-commit
pytest-mock
pytest-asyncio
pytest-catchlog
pytest-cov
pytest-xdist
requests
pylint
plotly
shapley
pytest
coverage
hypothesis
tox
psycopg2-binary
sqlalchemy
alembic
pytest-postgresql
psycopg2
pytest-django
Django
psycopg